FORM {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding: 15px 15px 15px;
    margin-bottom: 15px;
}

#navigation {
    margin-bottom: 15px;
}
